rvm:
- 2.1
- 2.2.10
- 2.3.7
- 2.4.4
- 2.5.1
- jruby-9.0
sudo: false
cache: bundler
before_install:
  - gem update --system
  - gem install bundler # https://github.com/travis-ci/travis-ci/issues/9333
matrix:
  allow_failures:
    - rvm: jruby-9.0
script:
  - bundle exec rake
